.page-container {
    max-width: 42em;
}

.grayscale-header-icon {
    -webkit-filter: grayscale(100%);
    filter: brightness(0%);
    height: 32px;
    padding-left: 10px;
}

.self-headshot {
    max-height: 125px;
    max-width: 125px;
    border-radius: 50%;
}

.bg-light-gray {
    background-color: #f5f5f5;
}

a {
    color: black;
    font-weight: bold;
}