.page-container {
    max-width: 42em;
}

.grayscale-header-icon {
    -webkit-filter: grayscale(100%);
    filter: brightness(0%);
    height: 32px;
    padding-left: 10px;
}

.self-headshot {
    max-height: 250px;
    max-width: 250px;
    border-radius: 50%;
}

a {
    color: black;
    font-weight: bold;
}